<div>
        <h1 class="mt-4"><%= first_name + " " + last_name %>'s Profile</h1>
        <h4 class="mt-2">Location: <%= location %></h4>
        <h4 class="mt-2">Description: <%= description %></h4>
        <h4 class="mt-2">Interests: <%= interests %></h4>

        <nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/profile/post">My Post<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/profile/followers">Followers</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/profile/friends">Friends</a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/profile/likes">My Likes</a>
                      </li>
                  </ul>
                </div>
              </nav>

</div>