 <!--  include another view file (partial) inside a .ejs view file -->
  <%- include header.ejs %>

  <body class="landing_body">
      <h1 id="landing_header">RETTIWT</h1>
      <!-- Signin Form -->
      <div id="sign_in_div">
        <form id="sign_in_form" action="/post-signin" method="post">
          <h2>Sign In</h2>
          <input type="text" id="usr_email" name="email" placeholder="Email Addres">
          <input type="text" id="usr_password" name="password" placeholder="password">
          <input type="button" id="sign_in_user" value="Sign In">
        </form>
      </div>

      <a href="/register">Register Now!</a>

  </body>
</html>
