<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="/js/jquery.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- TERRIBBLE hack to show the whole content of page -->
  <style>
  
    .bg-custom{
      background-color: #7476FF;
      color: white;
    }

    .custom-link1{
      color: #7476FF;
    }

    .custom-link2{
      color: #7476FF;
      font-weight: 400;
      font-size: 2rem;
    }
    
    .btn-custom1{
      background-color: #FFD419;
      color: white;
    }

  </style>
  <title>KIWI</title>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <!-- LOGO -->  
      <a class="navbar-brand" href="#"><i class="fab fa-earlybirds"></i>    KIWI</a>

      <!-- We could collapse this section if we had mobile responsive website-->
      <div>
        <!-- Unordered list for the links -->
          <ul class="navbar-nav ml-auto"><!-- ml-auto means that it will be aligned all the way to the right (margin-left: auto)-->

          <!-- If user is not logged in then show this -->
          <% if(!user){ %>

          <li class="nav-item">
            <a class="nav-link" href="/users/login">Log In</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/users/register">Register</a>
          </li>

          <% } %>

          <!-- If user is logged in then show this -->
          <% if(user) { %>

          <li class="nav-item">
            <a class="nav-link" href="/profile/post">My Profile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/feed">My Feed</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/suggested">Suggested Users</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/users/logout">Logout</a>
          </li>

          <% } %><!-- END/user logged in-->

          </ul><!--END/Unordered list-->
        </div><!-- END/section-->
      </div><!-- END/container to center it-->
  </nav>

  <div class="container"><%- body %></div>

</body>
</html>