 <!--  include another view file (partial) inside a .ejs view file -->
 <%- include header.ejs %>

 <body class="landing_body">
     <h1 id="landing_header">RETTIWT</h1>
    <p>User profile</p>
 </body>
</html>
