<!--  include another view file (partial) inside a .ejs view file -->
     <div><h1 class="mt-4"><%= first_name + " " + last_name %>'s Profile</h1>
         <div class = "card-body" id="user-profile">
         </div>
         <div class = "card-body" id="tweet-table-1">
             <h1 class = "lead mb-3"> Tweets </h1>
             <form>
                 <input class = "form-group" type="text" name="item" placeholder="Write comment" required />
                 <button type="submit">Tweet</button>
             </form>
             <ul class="list-group">
                 <% for(var i = 0; i < tweets.length; i++){ %>
                     <li class="list-group-item"><%= tweets[i].tweet %></li>
                 <% } %>
             </ul>
         </div>

         <a href="/users/logout" class="btn btn-secondary">Logout</a>

     </div>
