<!--  include another view file (partial) inside a .ejs view file -->
<div>
    <h1 class="mt-4">Suggested Users</h1>

    <div class = "card-body" id="user-profile">
    </div>
    <div class = "card-body" id="user-table-1">
        <h1 class = "lead mb-3"> Users </h1>
        <ul class="list-group">
            <% for(var i = users.length-1; i >= 0; i--) { %>
                <div>
                    <li class="list-group-item">
                        <p><%= users[i].first_name + " " + users[i].last_name %></p>
                        <form>
                            <button type="submit" id=<%= users[i]._id %>>Follow</button>
                        </form>
                    </li>
                </div>
            <% } %>
        </ul>
    </div>

</div>
<script src="/js/follow.js"></script>
