<div class="row mt-5">
    <div class="col-md-8 m-auto"><!-- Grid starts -->
        <!-- BOOTSTRAP CARD -->
        <div class="card card-body text-center border-light shadow bg-white">
            <!-- CARD TITLE-->
            <h1 class="card-title" >Welcome to KIWI</h1>
            <!-- CARD TEXT -->
            <p class="card-text">Create an account or login</p>
            
            <div class="row">
                <div class="col-md-6">
                    <!-- REGISTER -->
                    <a href="/users/register" class="btn bg-custom btn-block">Register</a>
                </div>
                <div class="col-md-6">
                    <!-- LOGIN -->
                    <a href="/users/login" class="btn btn-custom1 btn-block">Login</a>
                </div>
            </div><!-- END/row-->
        </div><!-- END/card-->

    </div><!-- Columns of half size (6)in medium 768px , so anything above this is half size-->
</div>

